@import "tailwindcss";

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  /* Target the webkit pseudo-element using standard CSS nesting */
  &::-webkit-scrollbar {
    display: none;
  }
}